.dialog{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding:0;
}
.area_butt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin-top: 30px;
}

textarea{
    width: 600px;
    height: 100px;
    border: 2px solid #d9d9d9;
}
button{
    margin-left: 15px;
    align-self: center;
}
.messages{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
    width: 70%;
    height: 500px;
    overflow: scroll;
    margin-left: 110px;
}
.name_mess{
    display: flex;
    flex-direction: column;
}
.container{
    width: 50%;
}
.message{
    background-color: #d9d9d9;
    color:white;
    padding: 10px;
    border-radius: 10px;
}
.name{
    margin-bottom: 5px;
}
.avatar_mess{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.avatar{
    margin-right: 20px;
}
.name{
    background-color: white;
}