.navbar{
    grid-area: n;
    border-right: 2px solid #d9d9d9;
}
.list{
    height: 500px;
    margin-top: 70px;
    overflow: scroll;
}
.item:hover{
    background-color: #d9d9d9;
}

.item{
    margin-bottom: 10px;
    overflow: hidden;
}